<?xml version="1.0" encoding="utf-8" standalone="yes"?><root><BASE_URL>http://192.168.1.121:</BASE_URL><PORT>8088</PORT><DBFILENAME>tvshows.db</DBFILENAME><FAVORITES><favorite>Greys Anatomy</favorite><favorite>NCIS Los Angeles</favorite><favorite>NCIS</favorite><favorite>Marvels Agents of S H I E L D</favorite><favorite>NCIS New Orleans</favorite><favorite>The Big Bang Theory</favorite><favorite>Elementary</favorite><favorite>Hawaii Five-0 2010</favorite><favorite>Forever US</favorite><favorite>Criminal Minds</favorite><favorite>Reign</favorite></FAVORITES></root>